# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\freddy.martinez.ASI-REM-0015\OneDrive - Andromeda Systems Inc\Personal\UCO\Fall 2020\Software Engineering I\project\database-instructions\test2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
